.app{
font-family: 'Courier New', Courier, monospace;
font-weight: 100;
/* background-color: rgb(203, 205, 210); */
}


.footer{
display: flex;
justify-content: center;
height: 0vh ;
background-color: rgb(221, 221, 237);
margin-top: 15vh;
}

.footer--HomePage{
margin-top: 30rem;

}

.icon{
height: 3rem;
width: 3rem;
justify-content: space-evenly;
padding: 10px;
}

.facebook{
color:black;
}

.facebook:hover{
color: gray;

}

.github{
color: rgb(29, 27, 25);
}

.github:hover{
    color: gray;
    }

.linkedin{
color: rgb(24, 24, 23);
}

.linkedin :hover{
    color: gray;
    }

.picture{
border-radius: 50%;
display: flex;


}

.picture :hover {
 transform: scale(1.05);
transition: 1s ease-out;
}

/* .span{

} */

.nav {
    /* position: sticky; */
    /* position: -webkit-sticky; */
    /* padding: 10px; */
    /* top: 0; */
    /* display: flex; */
    /* flex-wrap: nowrap; */
    background-color: rgb(237, 237, 249);
    box-sizing: border-box;
 }

ul {
    display: flex;
    padding: 10px;
    margin: 0;
    overflow: hidden;
    list-style-type: none;
    /* border:  */
    /* background-color: rgb(133, 133, 138); */

    /* grid-template-columns: repeat(6, auto); */
}

li {
   display: inline-block;
    padding: 0px 20px;

    /* text-align: center; */
}


li Link {
    display: block;
    color:black;
    text-align: center;
    padding: 10px;
/* align-items: center; */
}

li Link:hover:not(.active){
background-color: rgb(71, 99, 140);
} 



li Link:hover{
background-color: rgb(64, 64, 123);
}

.techNews{
    /* width:50%; */
    border: 1px solid;
    margin: 20px;
    /* padding: 25px; */
    float: left;
    width: 40%;
    padding: 20px;
    }


    .img{
        width: 300px;
        background-image: "https://media.istockphoto.com/id/1355531876/vector/newspaper-paper-grunge-vintage-old-aged-texture-background.jpg?s=612x612&w=0&k=20&c=nBD7LK9Iul20lb41WJoDKJoOA_mB6SehYSBLViLZboY=";
        }


    .name {
    display: flex;
    flex-direction: left;
    border: 1px dotted wheat;
    width: 100 px;
    height:100px;
    padding:10px;
    }

    .picture{
        display: flex;
        flex-direction: right;
        border: 1px dotted wheat;
        width: 100 px;
        height:100px;
    }



.background{
    background-size: 50%;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    background-repeat: no-repeat;
    width: 50%;
    background-position: left;
}

    ul.am{
        color: rgb(24, 20, 20);
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-60%, -20%);
        z-index: 2;
        width:80%;
        padding: 0px;
        font-size:medium;
        height: 60%;
    }

   .aboutMe li {
list-style-type: circle;
font-family: 'Courier New', Courier, monospace;
    }



    .proj{
    box-sizing: border-box;
    
    }

    .right{
    float: left;
    width: 40%;
    padding: 10px;
}

.left::after{
content: "";
clear: both;
display: table;
}



/* .aboutMe{


} */