.app{
font-family: 'Courier New', Courier, monospace;
font-weight: 100;
background-color: rgb(203, 205, 210);
}


.footer{
display: flex;
justify-content: center;
height: 0vh ;
background-color: rgb(221, 221, 237);
margin-top: 50vh;
}

.icon{
height: 3rem;
width: 3rem;
justify-content: space-evenly;
padding: 10px;
}

.facebook{
color:black;
}

.facebook:hover{
color: gray;

}

.github{
color: rgb(29, 27, 25);
}

.github:hover{
    color: gray;
    }

.linkedin{
color: rgb(24, 24, 23);
}

.linkedin :hover{
    color: gray;
    }

.picture{
border-radius: 50%;
display: flex;

}

.picture :hover {
 transform: scale(1.05);
transition: 1s ease-out;
}

/* .span{

} */

.nav {
    position: sticky;
    position: -webkit-sticky;
    padding: 10px;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(237, 237, 249);
    height: 100px;

}

ul {
    display: inline;
    padding: 0px;
    margin: 0;
    overflow: hidden;
    list-style-type: none;
    grid-template-columns: repeat(6, auto);
}

li {
    display: block;
    float: left;
    padding: 10px;

    /* text-align: center; */
}
/* 
li: a {
font-size: 15px;
align-items: center;

} */

li :hover {
}