.app{
font-family: 'Courier New', Courier, monospace;
font-weight: 100;
/* background-color: rgb(203, 205, 210); */
}

.footer{
display: flex;
justify-content: center;
height: 0vh ;
background-color: rgb(221, 221, 237);
margin-top: 15vh;
}

.footer--HomePage{
margin-top: 30rem;

}

.icon{
height: 3rem;
width: 3rem;
justify-content: space-evenly;
padding: 10px;
}

.facebook{
color:black;
}

.facebook:hover{
color: rgb(51, 23, 130);

}

.github{
color: rgb(29, 27, 25);
}

.github:hover{
    color: rgb(51, 23, 130);
    }

.linkedin{
color: rgb(24, 24, 23);
}

.linkedin :hover{
    color: rgb(51, 23, 130);
    }

.picture{
border-radius: 50%;
display: flex;
}

.picture :hover {
 transform: scale(1.05);
transition: 1s ease-out;
}

/* .navbar {
    background: rgb(47, 47, 74);
}

.home,
.navList {
    color: aliceblue;
}

.navList :hover {
    color: blue !important;
} */
/* .span{

} */

.nav {
    position: sticky;
    position: -webkit-sticky;
    padding: 0px;
    top: 0px;
    margin: 0px;
    /* display: flex; */
    color: whitesmoke;
    /* flex-wrap: nowrap; */
    /* background-color: rgb(237, 237, 249); */
    /* box-sizing: border-box; */
    text-decoration: none;
}
       
ul {
    display: flex;
    padding: 10px;
    margin: 0;
    overflow: hidden;
    list-style-type: none;
    color: whitesmoke;
    /* border: */
    background-color: rgb(10, 10, 79);
    grid-template-columns: repeat(6, auto);
}

li {
   display: inline-block;
   color: whitesmoke;
    padding: 0px 20px;
    text-align: center;
 }


li Link {
    display: block;
    text-align: center;
    padding: 10px;
       
align-items: center; 
}

li Link:hover:not(.active){
background-color: rgb(28, 67, 126);

}

li Link:hover{
background-color: rgb(48, 15, 109);

}


.techNews{
    /* width:50%; */
    border: 1px solid;
    margin: 20px;
    /* padding: 25px; */
    float: left;
    width: 40%;
    padding: 20px;
    }


    .img{
        width: 300px;       
        }
    


.homepage{
 background-color: rgb(71, 71, 204);
}

    .name {  
    float: left;
    /* flex-direction: left; */
    /* border: 1px dotted wheat; */
    width: 40%;
    height:100px;
    padding:30px;
    }

    .picture{
        /* float: right; */
        /* flex-direction: right; */
        /* border: 1px dotted wheat; */
        width: 50%;
        padding-top: 30px;
        height:100px;
    }



.background{
    background-size: 100%;
    -webkit-filter: blur(5px);
    filter: blur(8px);
    background-repeat: no-repeat;
    width: 100%;
    background-position: left;
    
}

                .am {
                    color: rgb(25, 12, 41);
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-20%, -70%);
        z-index: 2;
        width:80%;
        /* padding: 20px; */
            font-size: large;
        height: 60%;
        padding-top: 30vh;
            font-family: comic 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }




    .proj{
    box-sizing: border-box;
    background-color: rgb(71, 71, 173);
    }

    .right{
    float: left;
    width: 40%;
    padding: 10px;
}

.left::after{
content: "";
clear: both;
display: table;
}



.form {
    background-color: rgb(97, 97, 234);
    margin-top: 10px;
   height: 100%;
    padding: 10px;
    color: rgb(27, 26, 29);
    /* background-color: blanchedalmond; */
    font-weight: bold;
    /* border: 3px solid #f1f1f1; */
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* z-index: 2; */
    /* width: 80%; */
    padding: 20px;
    text-align: center;
}


.btn {
    background: rgb(96, 171, 103);
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 60px;
    padding: 5px;
}
    
/*         
.btn :hover{
    background: rgb(122, 122, 128) ;
        } */
